<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration> 
	<session-factory>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">password</property> 
		<property name="hibernate.connection.url">jdbc:postgresql://javafs200803.ceaalsuzinzr.us-east-2.rds.amazonaws.com:5432/project1</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
 		<!-- <property name="hibernate.default_schema">hibernate</property> --> 

		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.show_sql">true</property> 
		<!-- true is useful in development but probably not production -->
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property> 
		<!-- create, update, validate -->
		
	
		<mapping class="com.revature.models.Reimbursement"/>
		<mapping class="com.revature.models.User"/>
		
		
	</session-factory>
	
</hibernate-configuration>